$primary-color: rgb(2, 117, 216);
$secondary-color: rgb(108, 117, 125);
$success-color: rgb(92, 184, 92);
$info-color: rgb(91, 192, 222);
$warning-color: rgb(240, 173, 78);
$danger-color: rgb(217, 83, 79);
$inverse-color: rgb(41, 43, 44);
$faded-color: rgb(247, 247, 247);

