.deleteIcon  {
    color: darkred;
    &:hover {
      color: red;
      cursor: pointer;
    }
  }
  
  .editIcon{
    color: darkgray;
    &:hover{
      color: green;
    }
  }
  
  .assignIcon {
    color:lightblue;
    &:hover {
      color: dodgerblue;
    }
  }
  
  .backIcon {
    color:lightblue;
    font-size: 1.5em;
    &:hover {
      color: blue;
    }
  }

  .passwordIcon {
    position: absolute;
    right: 4em;
    color:lightgray;

    &:hover {
      color:black;
    }
  }

  .passwordContainer {
    position:relative;
  }