.deleteIcon  {
    color: darkred;
  }
  .deleteIcon:hover {
    color: red;
    cursor: pointer;
  }
  
  .editIcon{
    color: darkgray;
  }
  
  .editIcon:hover {
    color: green;
  }
  
  .assignIcon {
    color:lightblue;
  }
  
  .assignIcon:hover{
    color: dodgerblue;
  }
  
  .backIcon {
    color:lightblue;
    font-size: 1.5em;
  }

  .backIcon:hover{
    color: blue;
  }