//PADDING X-Axis
.px-1 {
  padding: 0.25rem 0;
}
.px-2 {
  padding: 0.5rem 0;
}
.px-3 {
  padding: 1rem 0;
}
.px-4 {
  padding: 1.5rem 0;
}
.px-5 {
  padding: 3rem 0;
}

//PADDING Y-Axis
.py-1 {
  padding: 0 0.25rem;
}
.py-2 {
  padding: 0 0.5rem;
}
.py-3 {
  padding: 0 1rem;
}
.py-4 {
  padding: 0 1.5rem;
}
.py-5 {
  padding: 0 3rem;
}

// PADDING TOP
.pt-1 {
  padding: 0.25rem 0 0 0;
}
.pt-2 {
  padding: 0.5rem 0 0 0;
}
.pt-3 {
  padding: 1rem 0 0 0;
}
.pt-4 {
  padding: 1.5rem 0 0 0;
}
.pt-5 {
  padding: 3rem 0 0 0;
}

// PADDING RIGHT
.pr-1 {
  padding: 0 0.25rem 0 0;
}
.pr-2 {
  padding: 0 0.5rem 0 0;
}
.pr-3 {
  padding: 0 1rem 0 0;
}
.pr-4 {
  padding: 0 1.5rem 0 0;
}
.pr-5 {
  padding: 0 3rem 0 0;
}

// PADDNIG BOTTOM
.pb-1 {
  padding: 0 0 0.25rem 0;
}
.pb-2 {
  padding: 0 0 0.5rem 0;
}
.pb-3 {
  padding: 0 0 1rem 0;
}
.pb-4 {
  padding: 0 0 1.5rem 0;
}
.pb-5 {
  padding: 0 0 3rem 0;
}

//PADDING LEFT
.pl-1 {
  padding: 0 0 0.25rem;
}
.pl-2 {
  padding: 0 0 0.5rem;
}
.pl-3 {
  padding: 0 0 0 1rem;
}
.pl-4 {
  padding: 0 0 0 1.5rem;
}
.pl-5 {
  padding: 0 0 0 3rem;
}

// -----MARGIN-------
// TOP
.mt-1 {
  margin: 0.25rem 0 0 0;
}
.mt-2 {
  margin: 0.5rem 0 0 0;
}
.mt-3 {
  margin: 1rem 0 0 0;
}
.mt-4 {
  margin: 1.5rem 0 0 0;
}
.mt-5 {
  margin: 3rem 0 0 0;
}

// RIGHT
.mr-1 {
  margin: 0 0.25rem 0 0;
}
.mr-2 {
  margin: 0 0.5rem 0 0;
}
.mr-3 {
  margin: 0 1rem 0 0;
}
.mr-4 {
  margin: 0 1.5rem 0 0;
}
.mr-5 {
  margin: 0 3rem 0 0;
}

// BOTTOM
.mb-1 {
  margin: 0 0 0.25rem 0;
}
.mb-2 {
  margin: 0 0 0.5rem 0;
}
.mb-3 {
  margin: 0 0 1rem 0;
}
.mb-4 {
  margin: 0 0 1.5rem 0;
}
.mb-5 {
  margin: 0 0 3rem 0;
}

// LEFT
.ml-1 {
  margin: 0 0 0.25rem;
}
.ml-2 {
  margin: 0 0 0.5rem;
}
.ml-3 {
  margin: 0 0 0 1rem;
}
.ml-4 {
  margin: 0 0 0 1.5rem;
}
.ml-5 {
  margin: 0 0 0 3rem;
}

.m-auto {
  margin: auto;
}

//X-AXIS
.mx-1 {
  margin: 0.25rem 0;
}
.mx-2 {
  margin: 0.5rem 0;
}
.mx-3 {
  margin: 1rem 0;
}
.mx-4 {
  margin: 1.5rem 0;
}
.mx-5 {
  margin: 3rem 0;
}

//Y-AXIS
.my-1 {
  margin: 0 0.25rem;
}
.my-2 {
  margin: 0 0.5rem;
}
.my-3 {
  margin: 0 1rem;
}
.my-4 {
  margin: 0 1.5rem;
}
.my-5 {
  margin: 0 3rem;
}

//BOTH-AXIS
.mxy-1 {
  margin: 0.25rem;
}

.mxy-2 {
  margin: 0.5rem;
}

.mxy-3 {
  margin: 1rem;
}

.mxy-4 {
  margin: 1.5rem;
}
.mxy-5 {
  margin: 3rem;
}
