.pop-up-container {
    height: 30vh;
    width: 50%;
    border: 1px solid lightblue;
    margin: 0.8em;
}

.pop-up-container:hover {
    box-shadow: 0px 0px 3px 2px skyblue;
}

.pop-up-selector {
    padding:1em;
}

.pop-up-selector >select {
    padding: 0.5em;
    border: 1px solid lightgray;
    width: inherit;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px 2px lightgray;
}

.pop-up-selector >select:hover {
    border: 1px solid dodgerblue;
    box-shadow: inset 0px 0px 2px 2px lightblue;
}