/* Style the links that are used to open and close the accordion panel*/
.accordion {
  background-color: #eee;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: 1px solid gray;
  transition: 0.4s;
}

.accordion:hover {
  background-color: lightskyblue;
}

.accordion span {
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.panel {
  display: none;
}

.accordion:hover > .panel {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.panel > a {
  padding: 10px 18px;
  background-color: white;
  display: flex;
  overflow: hidden;
}

.panel > a:hover {
  border:1px solid darkslategray;

}