body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.text-align-center{
  text-align: center;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 260px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  /* padding: 16px; */
  text-decoration: none;
}

.sidebar a.active span {
  background-color: #04aa6d;
  /* background-color:blueviolet; */
  color: white;
}

.sidebar a:hover:not(.active) {
  /* background-color: #888; */
  background-color: rgb(192, 170, 170);
  color: white;
}

div.content {
  margin-left: 280px;
  padding: 1px 16px;
  /* height: 1000px; */
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 10;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.links {
  color: white;
}

.links:hover {
  color: lightskyblue;
}

h4 {
  color: blue;
  padding-bottom: 1em;
}

input:disabled {
  background-color: rgb(252, 200, 200);
}

input:read-only{
  cursor:not-allowed !important;
}

.error {
  color:red;
  font-style: oblique;
  /* margin:5px; */
}